/**title desc STARTS HERE**/
.content-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(224, 224, 224);
}

.content-wrapper .div-contents h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-top: 20px;
}

.content-wrapper .div-contents h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    color: rgb(56, 56, 56);
}

.desc__read-more {
    display: block;
    opacity: 0;
    height: 0;
    transition: all 0.5s;
    font-size: 1.3rem;
    color: rgb(85, 85, 85);
}

.desc__read-more--open {
    display: block;
    opacity: 1;
    height: 100%;
    padding-top: 10px;
}

.read-more-btn {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    cursor: pointer;
    color: #f35518;
}

.read-more-btn:hover {
    transform: translateY(-3px);
}
/**title desc ENDS HERE**/



/**PRODUCT STARTS HERE**/
.div-row {
    display: flex;
    flex-wrap: wrap;
    background: rgb(224, 224, 224);
}

.content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 3;
    width: 75%;
}

.content-container .component {
    background: #ff723a;
    width: 20rem;
    height: 25rem;
    margin: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3%;
    overflow: hidden;
}

.product {
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px;
    height: 75%;
}

.sidebar {
    display: flex;
    justify-content: center;
    flex: 1;
}

.sidebar .form {
    position: fixed;
}
/**PRODUCT ENDS HERE**/