.content-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(224, 224, 224);
}

.content-wrapper .div-contents h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-top: 20px;
}

.content-wrapper .div-contents h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    color: rgb(85, 85, 85);
}

.desc__read-more {
    display: block;
    opacity: 0;
    height: 0;
    transition: all 0.5s;
    font-size: 1.3rem;
    color: rgb(85, 85, 85);
}

.desc__read-more--open {
    display: block;
    opacity: 1;
    height: 8rem;
    padding-top: 10px;
}

.read-more-btn {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    cursor: pointer;
    color: #f35518;
}

.read-more-btn:hover {
    transform: translateY(-3px);
}