*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

nav {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 20px;
}

#likeBtn, #userBtn, #cartBtn {
    height: 25px;
    width: 25px;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li {
    margin: 0 2px;
}
nav ol li a {
    padding: 5px 20px;
}
nav .search-bar {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}
nav .search-bar input {
    border: none;
    outline: none;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 500px;
    box-shadow: 11px 3px 7px gray;
}
nav .search-bar span{
    width: 100px;
    background-color: #f35518;
    box-shadow: 6px 4px 7px gray;
}

#searchBtn {
    display: flex;
    margin: 7px auto;
    height: 20px;
    width: 20px;
}